<div class="container">

    <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="user.name">
        </div>
        <div class="form group">
            <label for="position">Position</label>
            <input type="text" name="position" class="form-control" [(ngModel)]="user.position">
        </div>
        <div class="form group">
            <label for="office">Office</label>
            <input type="text" name="office" class="form-control" [(ngModel)]="user.office">
        </div>
        <div class="form group">
            <label for="salary">Salary</label>
            <input type="text" name="salary" class="form-control" [(ngModel)]="user.salary">
        </div>

        <input type="submit" value="save" class="btn btn-success">
    </form>
</div>